<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<style>
    .contactus {
    position: relative;
    top: 15%;
    right: 15%;
    text-align: center;
    font-size: 4rem;
}

.contactustext {
    position: relative;
    top: 15%;
    right: 15%;
    text-align: center;
    font-size: 2rem;
}

.contactuspage{
    position: absolute;
    right: 0%;
    background-image: url('/static/images/camera.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

</style>


<div class="contactuspage">
    <p class="contactus">
        Contact Us
    </p>
    <p class="contactustext">
        Email: johndoe@example.com
    </p>
    <p class="contactustext">
        Phone: (555) 555 - 5555
    </p>
    <p class="contactustext">
        Twitter
    </p>
</div>
{% endblock content %}

