{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}


<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped">
        <thead>
            <th></th>
            <th>ID#</th>
            <th>Item</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>User</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{item.itemid}}</td>
                <td>{{item.item_name}}</td>
                <td>${{item.price}}</td>
                <td>{{item.category.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + item.filename)}}"
                    width="50" height="40"/></td>
                <td>{{item.user.username}}</td>
                <td><a href="{{url_for('updateitem',id=item.itemid)}}" class="btn btn-info btn-sm">Edit</a></td>
                <td>
                       <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{item.itemid}}">
                      Delete
                    </button>

                </td>
                <td></td>
            </tr>



<!-- Modal -->
<div class="modal fade" id="exampleModal-{{item.itemid}}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{item.item_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger"> Are you sure that you want to delete the listing '{{item.item_name}}'?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
          <form action="{{url_for('deleteitem', id=item.itemid)}}" method="post">
           <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>

      </div>
    </div>
  </div>
</div>


            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}