<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html></html>
<h2>Login</h2>
    <body>
    <p></p>
        <h5>&emsp;Enter your information below: </h5>
            <form action = "http://localhost:5000/login" method = "POST"
                enctype = "multipart/form-data">
                <p></p>
                <p>&emsp;&emsp;Email <input type = "text" name = "email" /></p>
                <p>&emsp;&emsp;Password <input type = "text" name = "password" /></p>
                <input type="submit" value="submit"/>
            </form>
    </body>
{% endblock content %}
<html>