{% extends "layout.html" %}
<html>
  <style>
    body{
      position: relative;
      top: 15%;
      right: 15%;
      text-align: center;
      font-size: large;
      font-family: cursive;
    }
  </style>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% block content %}
<br><br>

<div class="container">
  {% include '_messages.html' %}
    {% from "_formhelpers.html" import render_field %}
    <div class="text-center h1 text-danger">Create Photo Listing</div>
<form action = "http://localhost:5000/uploader" method="POST"
      enctype="multipart/form-data">
  <div>
    {{ render_field(form.item_name, class="form-control") }}
    {{ render_field(form.item_desc, class="form-control") }}
    {{ render_field(form.item_price, class="form-control") }}

    <div class="row">
        <div class="col-md-4">{{ render_field(form.item_file, class="form-control")}}</div>
    </div>

    <label for="category">Add a category</label>
    <select name="category" id="category" class="form-control" required>
        <option value="">Select a category</option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>

  </div>
  <p></p>
  <button type=submit class="btn btn-info mt-4">Submit</button>
</form>
</div>




  <!--
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <p>Upload Picture <input type = "file" name = "file" /></p>
         <p>Photo Name <input type = "text" name = "title"></p>  
         <p>Photo Description <input type = "text" name = "description"></p>
         <p>Photo Price <input type = "text" name = "price"></p>
         <input type = "submit"/>
      </form>
   </body>
   -->
   
{% endblock content %}
</html>
